.section1 {
  margin-top: 2rem;
  background-image: url(/bg.ab820a5a.png);
  font-family: sans-serif;
  display: flex;
  margin-bottom: 5rem;
}
.section1 .section1_text {
  margin-left: 9rem;
  padding-top: 3rem;
  margin-bottom: 3rem;
}
.section1 .section1_text h1 {
  margin-right: 15rem;
  line-height: 2rem;
  padding-bottom: 2rem;
}
.section1 .section1_text h1 span {
  color: #34a853;
}
.section1 .section1_text p {
  margin-right: 7rem;
  font-size: 17px;
}
.section1 .section1_img img {
  margin: 2rem 12rem 2rem 0;
  width: 30rem;
}
@media (min-width: 392px) and (max-width: 1180px) {
  .section1 {
    display: block;
  }
  .section1 .section1_text {
    margin-left: 1rem;
  }
  .section1 .section1_text h1 {
    margin-right: 1rem;
    line-height: 2rem;
    padding-bottom: 2rem;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5rem;
  }
  .section1 .section1_text h1 span {
    color: #34a853;
    font-size: 24px;
  }
  .section1 .section1_text p {
    margin-right: 0.5rem;
    line-height: 1.7rem;
  }
  .section1 .section1_img img {
    margin-top: 0;
    width: 90%;
    padding: 1rem;
  }
}
