.Section8 {
  font-family: sans-serif;
  justify-content: center;
  font-family: sans-serif;
}
.Section8 h1 {
  font-size: 40px;
  margin-bottom: 1rem;
  text-align: center;
}
.Section8 p {
  color: rgb(82, 82, 82);
  margin: 0 7rem;
  text-align: center;
}
.Section8 .imgg {
  display: flex;
  padding: 3rem;
  gap: 1.5rem;
  text-align: center;
  justify-content: center;
  align-content: center;
}
.Section8 .imgs img {
  width: 25rem;
}
.Section8 .imgg .blockimg {
  display: block;
}
.Section8 .imgg .img1 img {
  width: 45rem;
}
.Section8 .imgg .img2 img {
  width: 22rem;
}
@media (min-width: 392px) and (max-width: 1180px) {
  .Section8 h1 {
    font-size: 30px;
    margin-bottom: 3rem;
  }
  .Section8 p {
    margin: 0 1rem;
  }
  .Section8 .imgg img {
    width: 100%;
    padding: 1rem;
  }
  .Section8 .imgg {
    display: block;
    padding: 0.5rem;
    margin-right: 1rem;
  }
  .Section8 .imgg .img1 img {
    width: 100%;
  }
  .Section8 .imgg .img2 img {
    width: 100%;
  }
}
